.header__background {
    background:linear-gradient(to top, rgba(252, 227, 138, .9), rgba(243, 129, 129, .9)), url("../images/background-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    background-position: center;
    background-size: cover;
}
@media (min-resolution: 192dpi),(-webkit-min-device-pixel-ratio: 2) {
    .header__background {
        background:linear-gradient(to top, rgba(252, 227, 138, .9), rgba(243, 129, 129, .9)), url("../images/background@2x-min.png");
    }
}

