.nav__info-template {
    font-size: 72px;
    color: $primary-white-color;
    margin: 0 auto;
    margin-bottom: 66px;
}
.nav__info-greeting {
    width: 844px;
    color: $primary-white-color;
    font-size: 150px;
    margin-bottom: 127px;
}