.team__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    
    
}
.team__member-info {
    margin-bottom: 90px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 90px;
    color:$team-info-color;    
}
   .team {
    @include center-all('all');
    padding-bottom: 87px;
}
  .team__member {
    width: 381px;
    height: 470px;
    position: relative;
    margin-bottom: 30px;
  }
  
  .team__img {
    width: 381px;
    height: 470px;
    position: absolute;
    z-index: 2;
    &:hover {
        background-color: $primary-aqua-color;
      }
  }
  
  .team__img-icon {
    @include abs-center ('all') ;
    opacity: 0;
    width: 381px;
    height: 470px;
    display: flex;
    z-index: 20;
    transition: all 0.2s linear;
  }
  
  .team__img-gradient {
    position: absolute;
    background: linear-gradient(to top, #f0d88a, #ef8b8a);
    opacity: 0;
    width: 381px;
    height: 470px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    transition: all 0.2s linear;
  }
  
  .team__img-bckgr {
    position: absolute;
    width: 381px;
    height: 470px;
    background-color: $primary-aqua-color;
  }
  
  .icon__btn{
    box-sizing: border-box;
    background: $hover-color;
    height: 56px;
    width: 56px;
    border: none;
    cursor: pointer;
    &:hover {
        background-color:$fill-color-svg;
      }
  }
  .team__info-name {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    margin-bottom: 5px;
  }
  
  .team__info-job {
    font-style: italic;
    font-family: "Roboto", sans-serif;
    color: $job-color;
  }
.team__member:hover .team__img-gradient {
    opacity: 0.85;
    right: 10px;
    bottom: 10px;
  }
  
  .team__member:hover .team__img-icon {
    opacity: 1;
  }
  
  .team__member:hover .team__img {
    right: 10px;
    bottom: 10px;
  }
  .social__icon svg {
      width: 32px;
      height: 32px;
      fill: $fill-color-svg;
      &:hover{
        fill: $primary-white-color;
    }
  }
  
  .job {
    font-style: italic;
    font-family: "Roboto", sans-serif;
    color: $job-color;
  }