.title__info {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

.title__greeting {
    display:block;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
}
