html {
    box-sizing: border-box;
}
*,*::before, *::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 900px;
    margin: 0 auto;
}
/*-----Site Navigation------*/
.high-site-nav {
    padding: 38px 0;
}
.site-navigation {
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.site-navigation li {
    display: inline-block;
}
.site-navigation li:not(:last-child){
    margin-right: 120px;
}
.site-navigation a {
    color:#626262;
    font-weight: initial;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 17px;
    
}
.site-navigation a:hover,
.site-navigation a:focus {
     color: #03a9f4;
    text-decoration: none        }
/*-----Content------*/
.content {
    width: 421px;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 30px;
}
.content:nth-child(2n){
    margin-right: 0;
}