/*Text*/ 
$main-font:'Montserrat', sans-serif;
$main-font-size:14px;
/*Colors*/ 
$primary-white-color :#ffff;
$primary-aqua-color:#95e1d3;
$features-color: #a8a8a8;
$fill-color-svg:#ef8b8a;
$job-color:#b3b3b3;
$hover-color: #fce38a;
$border-color: #f7a9a9;
$author-color:#f6a1a1;
$footer-border-color:#e5e5e5;
$team-info-color:#999999;

